extends ../layout



block content
    //Formulario de Creacion de las bicicletas
    a(href="/bicicletas") Volver

    br

    br

    br

    h1 Nueva Bicicleta

    br

    br
    //Al ser escritura debemos mandar el formulario por post
    form(action="/bicicletas/create" method="post")

        label(for="bicicletaID") ID:

        input#id(type="text" name="bicicletaID")

        br

        label(for="color") Color:

        input#id(type="text" name="color")

        br

        label(for="modelo") Modelo:

        input#id(type="text" name="modelo")

        br

        label(for="latitud") Latitud:

        input#id(type="text" name="latitud")

        br

        label(for="longitud") Longitud:

        input#id(type="text" name="longitud")

        br

        br

        input.btn(type="submit" value="OK")