extends ../layout


block content

    a(href='/bicicletas/create') Nueva bicicleta


    br

    br

    table.table

        thead

            tr

                th(scope='col') #

                th(scope='col') Color

                th(scope='col') Modelo

                th(scope='col') Ubicación

                th(scope='col')



        tbody

            each bici in bicis

                tr

                    td(scope='row')= bici.bicicletaID

                    td= bici.color

                    td= bici.modelo

                    td= bici.ubicacion

                    td

                        form.inline(method='post' action='bicicletas/' + bici.bicicletaID + '/delete')

                            input(type='hidden' name='bicicletaID' value=bici.bicicletaID)

                            button.link-button(type='submit' class='btn')

                                ='Eliminar'

                    td 

                        form.inline(method='get' action='bicicletas/' +bici._id+ '/update')

                            input(type="hidden" name='_id' value=bici._id)

                            button.link-button(type='submit' class='btn')

                                ='Modificar'



